<html>
  <head></head>
  <body>

    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>

    <p> <%= message %> </p>

    <% if params['guess'].to_i == number %>
      <p> <%= "The secret number is #{number}." %> </p>
    <% end %>
    
  </body>
</html>