<html>
  <head></head>
  <body>

    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>

    <p> <%= guess_message if params['guess'] %> </p>

    <p> <%= remaining_guesses %> <%= win_or_lose_message %> </p>

    <% if cheat || win_or_lose_message == "You win!" %>
      <p> <%= "The secret number is #{number}." %> </p>
    <% end %>

    
    
  </body>
</html>